### Overview

This notebook is related to the group project of the course: Protfolio Management. Questions are related to data analysis on the given dataset.

In [1]:
import pandas as pd
import numpy as np
from scipy import optimize

### Dataset

In [2]:
df_raw=pd.read_excel('100 US Mid-Cap Stocks.xlsx')
df_raw.set_index('Date', inplace=True)
df_raw

                     Company Name      Price  Index
Date
2020-01-02  LUMENTUM HOLDINGS INC  82.699997      1
2020-01-03  LUMENTUM HOLDINGS INC  81.900002      1
2020-01-06  LUMENTUM HOLDINGS INC  80.589996      1
2020-01-07  LUMENTUM HOLDINGS INC  81.970001      1
2020-01-08  LUMENTUM HOLDINGS INC  82.959999      1
...                           ...        ...    ...
2020-12-24          ISHARES TRUST  80.879997    100
2020-12-28          ISHARES TRUST  81.500000    100
2020-12-29          ISHARES TRUST  80.230003    100
2020-12-30          ISHARES TRUST  81.120003    100
2020-12-31          ISHARES TRUST  81.309998    100

[24019 rows x 3 columns]

### Q1)  List top 5 stocks with highest average returns. Calculate the standard deviations, correlations matrix among those five stocks

In [3]:
# Find the index of 5 stocks with highest average returns
df_rm=df_raw.groupby('Index').apply(lambda x: x['Price'].pct_change().mean())
df_rm[df_rm.rank().isin([100,99,98,97,96])]

Index
6     0.008223
56    0.004463
81    0.006970
82    0.007149
84    0.004632
dtype: float64

In [4]:
max_return = [6,56,81,82,84]  #index of stocks with highest average return
dfs=[] # store the data of each stock 
for i in max_return:
    dfi = df_raw[df_raw['Index']==i]
    dfs.append(dfi)

In [5]:
# Calculate the standard deviation of return of each stock
for df in dfs:
    print(df.head())
    print('Mean return = ', df['Price'].pct_change().mean())
    print('Standard Deviation = ', df['Price'].pct_change().std())
    print('\n')

                        Company Name      Price  Index
Date
2020-01-02  PENN NATIONAL GAMING INC  26.139999      6
2020-01-03  PENN NATIONAL GAMING INC  25.930000      6
2020-01-06  PENN NATIONAL GAMING INC  26.209999      6
2020-01-07  PENN NATIONAL GAMING INC  26.455000      6
2020-01-08  PENN NATIONAL GAMING INC  26.844999      6
Mean return =  0.008222661887403677
Standard Deviation =  0.081427860857862


                    Company Name      Price  Index
Date
2020-01-02  ACCELERON PHARMA INC  52.610001     56
2020-01-03  ACCELERON PHARMA INC  50.950001     56
2020-01-06  ACCELERON PHARMA INC  51.619999     56
2020-01-07  ACCELERON PHARMA INC  51.349998     56
2020-01-08  ACCELERON PHARMA INC  53.540001     56
Mean return =  0.004462657678010915
Standard Deviation =  0.04591880086108375


             Company Name      Price  Index
Date
2020-01-02  MYOKARDIA INC  71.889999     81
2020-01-03  MYOKARDIA INC  71.949997     81
2020-01-06  MYOKARDIA INC  70.000000     81
2020-01-07  MYOKARDIA INC  70.790001     81
2020-01-08  MYOKARDIA INC  69.930000     81
Mean return =  0.006970449579118181
Standard Deviation =  0.06686886906602027


           Company Name      Price  Index
Date
2020-01-02  SEA LIMITED  40.040001     82
2020-01-03  SEA LIMITED  40.490002     82
2020-01-06  SEA LIMITED  40.480000     82
2020-01-07  SEA LIMITED  41.009998     82
2020-01-08  SEA LIMITED  40.160000     82
Mean return =  0.007149138640214198
Standard Deviation =  0.03928837344403745


                           Company Name      Price  Index
Date
2020-01-02  C R I S P R THERAPEUTICS AG  59.320000     84
2020-01-03  C R I S P R THERAPEUTICS AG  59.439999     84
2020-01-06  C R I S P R THERAPEUTICS AG  59.950001     84
2020-01-07  C R I S P R THERAPEUTICS AG  60.349998     84
2020-01-08  C R I S P R THERAPEUTICS AG  62.529999     84
Mean return =  0.004631816103172185
Standard Deviation =  0.041653586415500266

In [6]:
# Aggregate return of all 5 stock into one dataFrame
df_all =pd.DataFrame()
for idx, df in zip(max_return,dfs):
    df_all['{}'.format(idx)] = df['Price'].pct_change()
df_all.dropna(inplace=True)
df_all.head()

                   6        56        81        82        84
Date
2020-01-03 -0.008034 -0.031553  0.000835  0.011239  0.002023
2020-01-06  0.010798  0.013150 -0.027102 -0.000247  0.008580
2020-01-07  0.009348 -0.005231  0.011286  0.013093  0.006672
2020-01-08  0.014742  0.042649 -0.012149 -0.020727  0.036123
2020-01-09  0.000559  0.036328  0.000000  0.009213 -0.010075

In [7]:
# Calculate Correlation matrix
df_all.corr()

           6        56        81        82        84
6   1.000000  0.285179  0.170038  0.276408  0.300198
56  0.285179  1.000000  0.224446  0.349431  0.391652
81  0.170038  0.224446  1.000000  0.216125  0.433706
82  0.276408  0.349431  0.216125  1.000000  0.467390
84  0.300198  0.391652  0.433706  0.467390  1.000000

### Q2) List 5 stocks with lowest volatilities. Calculate the average return, correlations matrix among these 5 stocks

In [8]:
# Find the index of 5 stocks with lowest volatilities
df_v=df_raw.groupby('Index').apply(lambda x: x['Price'].pct_change().std())
rank_v = df_v.rank()
df_v[rank_v.isin([1,2,3,4,5])]

Index
13    0.004570
34    0.005936
42    0.016718
50    0.002479
99    0.017490
dtype: float64

In [9]:
# Select these 5 stock and aggregate the returns of the stocks into one dataFrame
min_v = [13,34,42,50,99]
dfv_all = pd.DataFrame()
for i in min_v:
    dfi = df_raw[df_raw['Index']==i]
    dfv_all['{}'.format(i)] = dfi['Price'].pct_change()
dfv_all.dropna(inplace=True)
dfv_all

                  13        34        42        50        99
Date
2020-01-03  0.000199  0.002832 -0.002706  0.001544  0.000994
2020-01-06  0.000100 -0.000565  0.000939  0.000385  0.000993
2020-01-07  0.000199 -0.000565 -0.002606 -0.000385  0.000000
2020-01-08 -0.000298 -0.001131  0.000627  0.000578  0.000992
2020-01-09  0.000398  0.001415  0.005431 -0.000578  0.000496
...              ...       ...       ...       ...       ...
2020-12-24  0.000000  0.001079  0.003123 -0.001163 -0.001977
2020-12-28  0.000199  0.000270  0.004518 -0.000194 -0.001486
2020-12-29  0.000000  0.001078  0.002810  0.000194  0.002976
2020-12-30  0.000000  0.000538  0.001868  0.000000  0.000495
2020-12-31  0.000399  0.000269  0.003833 -0.001164 -0.001977

[252 rows x 5 columns]

In [10]:
# Find the average return
dfv_all.describe()

               13          34          42          50          99
count  252.000000  252.000000  252.000000  252.000000  252.000000
mean     0.000004    0.000222    0.000174   -0.000024    0.000172
std      0.004570    0.005936    0.016718    0.002479    0.017490
min     -0.062397   -0.034472   -0.095974   -0.019436   -0.156328
25%     -0.000099   -0.000628   -0.004707   -0.000505   -0.001729
50%      0.000099    0.000272    0.001081    0.000096    0.000989
75%      0.000304    0.001401    0.006267    0.000762    0.003099
max      0.022183    0.048356    0.074922    0.014048    0.086341

In [11]:
# find correlations matrix
dfv_all.corr()

          13        34        42        50        99
13  1.000000  0.623284  0.163226  0.507690 -0.032654
34  0.623284  1.000000  0.367164  0.076631  0.406026
42  0.163226  0.367164  1.000000  0.114321  0.688009
50  0.507690  0.076631  0.114321  1.000000  0.030255
99 -0.032654  0.406026  0.688009  0.030255  1.000000

### Q3) Calculate the average return and volatility of selected stocks

In [12]:
# Aggregate the returns of the stocks into one dataFrame
stocks = [37,38,39,40,41] # selected stocks
df_my = pd.DataFrame()
for i in stocks:
    df_my['{}'.format(i)] = df_raw[df_raw['Index']==i]['Price'].pct_change()
df_my.dropna(inplace=True)
df_my.head()

                  37        38        39        40        41
Date
2020-01-03 -0.001988  0.015817 -0.007830 -0.008388  0.007493
2020-01-06  0.020418  0.006228 -0.007563  0.007009  0.005996
2020-01-07 -0.006345 -0.012959  0.012260 -0.020641 -0.007736
2020-01-08 -0.000982  0.004507  0.000000  0.004534 -0.024949
2020-01-09 -0.012291 -0.004487 -0.000655 -0.012198  0.002725

In [13]:
# Calculate average return and standard deviation
df_my.describe()

               37          38          39          40          41
count  252.000000  252.000000  252.000000  252.000000  252.000000
mean     0.000814   -0.003250    0.000320   -0.000188    0.002700
std      0.036665    0.070200    0.034400    0.031948    0.036679
min     -0.127139   -0.875062   -0.211353   -0.160081   -0.176736
25%     -0.017543   -0.017419   -0.013481   -0.015029   -0.014016
50%      0.000696   -0.000786    0.001739    0.000142    0.002078
75%      0.016726    0.015701    0.013524    0.017934    0.021501
max      0.123950    0.291598    0.154225    0.108361    0.173630

### Q4) Treat the 100 stocks in the dataset as market portfolio. Calculate the equal weighted return of the market each day, and calculate the average return and volatility of the market

In [14]:
# Aggregate the return of each stock into one dataFrame
df_market = pd.DataFrame()
for i in range(1,101):
    df_market['{}'.format(i)] = df_raw[df_raw['Index']==i]['Price'].pct_change()
df_market

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,-0.009673,-0.000654,-0.020833,-0.006715,-0.005599,-0.008034,NaN,-0.010475,-0.017997,0.003305,...,0.001193,-0.018337,-0.002770,-0.041621,0.014641,NaN,-0.011716,-0.007213,0.000994,-0.002053
2020-01-06,-0.015995,0.000000,-0.015044,0.000410,-0.022445,0.010798,NaN,0.000142,-0.018327,-0.001976,...,-0.001375,-0.004782,-0.002778,0.002839,-0.006711,NaN,-0.013621,0.001172,0.000993,0.000810
2020-01-07,0.017124,-0.014626,-0.017674,-0.003788,0.004892,0.009348,NaN,0.005257,0.017045,-0.002640,...,-0.006241,-0.006306,0.009401,0.014718,0.001351,NaN,-0.007416,-0.002341,0.000000,-0.008346
2020-01-08,0.012078,0.000443,-0.005553,-0.000925,-0.003219,0.014742,NaN,-0.002473,0.010375,0.001324,...,0.005079,0.004835,0.003105,0.017015,0.011808,NaN,0.007987,0.002112,0.000992,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,0.001732,0.002350,0.014953,0.000690,0.007923,-0.014882,-0.015381,-0.004565,-0.004386,0.002640,...,-0.006449,0.007909,0.007634,0.000437,-0.044906,-0.005271,-0.015936,0.001117,-0.001977,0.000124
2020-12-28,0.006511,-0.028276,-0.009522,0.001379,0.001693,-0.062909,0.025181,0.014156,-0.008811,-0.001317,...,-0.022641,0.006316,0.020202,0.050655,-0.024468,-0.017368,0.005075,0.005356,-0.001486,0.007666
2020-12-29,-0.031736,-0.016607,-0.003084,-0.000803,-0.021490,-0.004904,-0.011599,0.004849,-0.023889,0.000000,...,0.003004,-0.010460,-0.008801,-0.016625,-0.027213,-0.020971,0.004319,-0.003996,0.002976,-0.015583
2020-12-30,-0.007203,0.015878,0.021652,0.001493,0.006169,-0.013368,0.007823,0.004891,0.022766,0.001978,...,0.015923,0.016721,0.000555,0.028741,0.001011,0.005508,-0.015547,0.004457,0.000495,0.011093
2020-12-31,-0.003259,-0.015487,0.000712,0.005390,-0.001349,-0.008267,-0.064612,0.003115,0.000556,0.003947,...,0.000310,-0.017013,-0.003328,0.057929,-0.004545,0.016433,-0.011828,0.004881,-0.001977,0.002342

In [15]:
# Fill the missing data with 0 and drop the first row
df_market.fillna(0, inplace=True)
df_market.drop(df.index[0], inplace=True)
df_market

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-03,-0.009673,-0.000654,-0.020833,-0.006715,-0.005599,-0.008034,0.000000,-0.010475,-0.017997,0.003305,...,0.001193,-0.018337,-0.002770,-0.041621,0.014641,0.000000,-0.011716,-0.007213,0.000994,-0.002053
2020-01-06,-0.015995,0.000000,-0.015044,0.000410,-0.022445,0.010798,0.000000,0.000142,-0.018327,-0.001976,...,-0.001375,-0.004782,-0.002778,0.002839,-0.006711,0.000000,-0.013621,0.001172,0.000993,0.000810
2020-01-07,0.017124,-0.014626,-0.017674,-0.003788,0.004892,0.009348,0.000000,0.005257,0.017045,-0.002640,...,-0.006241,-0.006306,0.009401,0.014718,0.001351,0.000000,-0.007416,-0.002341,0.000000,-0.008346
2020-01-08,0.012078,0.000443,-0.005553,-0.000925,-0.003219,0.014742,0.000000,-0.002473,0.010375,0.001324,...,0.005079,0.004835,0.003105,0.017015,0.011808,0.000000,0.007987,0.002112,0.000992,0.000000
2020-01-09,-0.017599,0.005093,-0.002904,0.003292,0.014888,0.000559,0.000000,-0.004605,-0.001580,-0.001322,...,0.006891,-0.001955,-0.007565,-0.006582,0.001667,0.000000,0.055783,0.005151,0.000496,-0.002261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,0.001732,0.002350,0.014953,0.000690,0.007923,-0.014882,-0.015381,-0.004565,-0.004386,0.002640,...,-0.006449,0.007909,0.007634,0.000437,-0.044906,-0.005271,-0.015936,0.001117,-0.001977,0.000124
2020-12-28,0.006511,-0.028276,-0.009522,0.001379,0.001693,-0.062909,0.025181,0.014156,-0.008811,-0.001317,...,-0.022641,0.006316,0.020202,0.050655,-0.024468,-0.017368,0.005075,0.005356,-0.001486,0.007666
2020-12-29,-0.031736,-0.016607,-0.003084,-0.000803,-0.021490,-0.004904,-0.011599,0.004849,-0.023889,0.000000,...,0.003004,-0.010460,-0.008801,-0.016625,-0.027213,-0.020971,0.004319,-0.003996,0.002976,-0.015583
2020-12-30,-0.007203,0.015878,0.021652,0.001493,0.006169,-0.013368,0.007823,0.004891,0.022766,0.001978,...,0.015923,0.016721,0.000555,0.028741,0.001011,0.005508,-0.015547,0.004457,0.000495,0.011093
2020-12-31,-0.003259,-0.015487,0.000712,0.005390,-0.001349,-0.008267,-0.064612,0.003115,0.000556,0.003947,...,0.000310,-0.017013,-0.003328,0.057929,-0.004545,0.016433,-0.011828,0.004881,-0.001977,0.002342

In [16]:
# Calculate daily return of the market portfolio
df_market['average return'] = df_market.apply(lambda x: np.sum(x)/100, axis=1)
df_market['average return']

Date
2020-01-03   -0.004342
2020-01-06    0.000224
2020-01-07    0.001511
2020-01-08    0.001228
2020-01-09    0.002991
                ...
2020-12-24   -0.001663
2020-12-28   -0.004105
2020-12-29   -0.010332
2020-12-30    0.009305
2020-12-31   -0.002191
Name: average return, Length: 252, dtype: float64

In [17]:
print('Mean return = ',df_market['average return'].mean())
print('Standard deviation = ',df_market['average return'].std())

Mean return =  0.0010816724248440825
Standard deviation =  0.023462992967022606

### Q5) Calculate the beta of each stock in Q3, respect to market portfolio in Q4.

In [18]:
df_my['market'] = df_market['average return']
covariance = df_my.cov()
beta = covariance/((df_my['market'].std())**2) 
beta

              37        38        39        40        41    market
37      2.441997  1.182921  1.306946  1.076054  0.928268  1.063923
38      1.182921  8.951862  1.626468  1.029614  1.095400  1.134850
39      1.306946  1.626468  2.149582  1.085928  1.344292  1.204027
40      1.076054  1.029614  1.085928  1.854092  1.132908  0.982296
41      0.928268  1.095400  1.344292  1.132908  2.443789  1.171403
market  1.063923  1.134850  1.204027  0.982296  1.171403  1.000000

In [19]:
ans = beta['market']
ans

37        1.063923
38        1.134850
39        1.204027
40        0.982296
41        1.171403
market    1.000000
Name: market, dtype: float64

### Q6) Pick any two stock amont five stocks in Q3. Calculate the optimal weight on each stock that will provide you with highest Sharpe ratio (Assume risk-free rate is 0.5%)

In [20]:
# Selecte the return of stock 37 and 40
df_selected = df_my[['37','41']]
df_selected.head()

                  37        41
Date
2020-01-03 -0.001988  0.007493
2020-01-06  0.020418  0.005996
2020-01-07 -0.006345 -0.007736
2020-01-08 -0.000982 -0.024949
2020-01-09 -0.012291  0.002725

In [21]:
def sharpe_ratio(weights, *arg):
    '''
    weights is an array with weights of each stock
    w1 is weight of stock in first column of dataFrame
    w2 is weight of stock in second column of dataFrame
    The return data of two stock needs to be passed as *args
    The function will return (-1 * sharpe ratio) for the given weights
    '''
    df_ret = arg[0]
    portfolio_ret = np.sum(df_ret * weights, axis = 1)
    mean_portfolio_ret = np.mean(portfolio_ret)
    std_portfolio = np.std(portfolio_ret)
    sharpe = (mean_portfolio_ret - 0.0005)/std_portfolio
    return -sharpe

In [22]:
res = optimize.minimize(sharpe_ratio, np.array([0.5,0.5]), args=(df_selected,), constraints={'type':'eq','fun':lambda x: x[0]+x[1]-1})

In [23]:
optimal_weights = res.x
print('Optimal weight for stock 37 = ', optimal_weights[0])
print('Optimal weight for stock 41 = ', optimal_weights[1])
print('Optimal Sharpe Ratio = ', -res.fun)

Optimal weight for stock 37 =  -0.33416473458773693
Optimal weight for stock 41 =  1.334164734587737
Optimal Sharpe Ratio =  0.06203747009676803